
.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
}
.rating input {
    display: none;
}
.rating label {
    color: #ddd;
    font-size: 30px;
    padding: 0;
    cursor: pointer;
}
.rating input:checked ~ label,
.rating input:hover ~ label,
.rating label:hover ~ label {
    color: #f5b301;
}
