.ba-scroll-container::-webkit-scrollbar {
    display: none !important;
}

.ba-fixed-header-table {
    overflow-y: auto;
    max-height: 60vh;
}

.ba-fixed-header-table thead tr th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.toast {
    opacity: 1 !important;
}

.ba-pagination .text-muted {
    display: none;
}

.ba-form-check-input {
    width: 25px;
    height: 25px;
}
